.list-group-item-action {
    cursor: pointer;
}

.list-group-item-action:hover {
    background-color: dodgerblue;
    color: white;
    text-decoration: underline;
}

input {
    cursor: pointer;
}

li {
    background-color: dodgerblue;
    color: white;
}

.chosen {
    font-weight: bold;
}