.form-control {
    background-color: white;
    text-align: center;
}

img {
    height: 10rem;
}

.you-have {
    background-color: lightskyblue;
    border-top-left-radius: 10px;
}

.clear {
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    font-weight: 600;
}

.subtotal {
    font-weight: 600;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    background-color: lightskyblue;
}

.round-h1{
    border-end-start-radius: 10px;
}
.round-btn{
    border-end-end-radius: 10px;
}

.table {
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.quantity {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
}

.plus {
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-end-start-radius: 0px;
    border-end-end-radius: 5px;
}

.minus {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-end-start-radius: 5px;
    border-end-end-radius: 0px;
}

.back {
    color: #0d6efd;
    border-radius: 50px;
    border-color: white;
}

.back:hover {
    background-color: aliceblue;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}