.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}

.full {
    color: gold;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: gold;
}

.fontSize {
    font-size: 2rem;
    font-weight: 500;
}

.btn {
    font-size: 1.5rem;
    font-weight: 600;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}