<br><br>
<div class="d-flex justify-content-center">

    <button class="btn btn-info" (click)="goToCustomerList()">Go to customers details</button>
</div>
<br><br>
<br><br>
<div class="d-flex justify-content-center">

    <button class="btn btn-success" (click)="goToFilteredProductsList('AlmostOutOfStock')">Which products are almost out of stock?</button>
</div>
<br><br>
<div class="d-flex justify-content-center">

    <button class="btn btn-success" (click)="goToFilteredProductsList('RatedHigh')">Which products are rated the highest?</button>
</div>

<br><br>
<br><br>
<br><br>
<div class="d-flex justify-content-center">

    <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>
<br><br><br><br>