
.scrollit {
    float: left;
    width: 65%;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    margin-right: 0px;
}



.container-grid {
    overflow: hidden;
    scrollbar-gutter: stable;
}

.empty {
    grid-area: e;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    grid-area: h;
}

.body {
    grid-area: b;
    margin-top: 2rem;
    margin-left: 3rem;
}

.sidebar {
    grid-area: s;
    background-color: dodgerblue;
    position: fixed;
    min-height: 100%;
    width: 15%;
    z-index: 1;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
    grid-area: f;
}